<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-2">
      <div class="card">
        <div class="card-body text-center">
          <span>Listado de productos</span>
          <button class="btn btn-success float-end"> Nuevo </button>

          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Coca cola</td>
                <td>Bebida</td>
                <td>Mex city</td>
                <td>2</td>
                <td></td>
              </tr>
              <tr>
                <td scope="row">Malboro 20</td>
                <td>Cigarros</td>
                <td>Barcelona city</td>
                <td>3</td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>